@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* (Optional) Your design tokens with Tailwind v4’s @theme */
@theme {
  --color-primary: #98CCC6;
  --color-secondary: #394368;
  --color-background: #FFFFFF
  --color-accent: #766649;
  --color-secondaryTwo: #7386CA;

  --font-roboto: "Roboto", sans-serif;
}
